<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.turbotorsk.mybar"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".controller.MyBarApplication"
        android:icon="@drawable/ic_drinkicon"
        android:label="@string/app_name"
        android:showAsAction="ifRoom"
        android:theme="@style/AppTheme"
        android:uiOptions="splitActionBarWhenNarrow">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>

        <provider
            android:name=".model.database.MyBarContentProvider"
            android:authorities="se.turbotorsk.mybar.model.database"
            android:exported="false" >
        </provider>

        <activity android:name=".AddIngredientActivity" >
        </activity>
        <activity android:name=".About_Activity" >
        </activity>
        <activity android:name=".SettingsActivity" >
        </activity>
        <activity android:name=".view_drink_activity" >
        </activity>
        <activity android:name=".ProfilesActivity" >
        </activity>
        <activity android:name=".MyBarTabHostActivity" >
        </activity>
        <activity android:name=".MyDrinksActivity" >
        </activity>
        <activity android:name=".SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CollectionActivity"
            android:label="@string/title_activity_drinks_list" >
        </activity>
        <activity
            android:name=".MyFavoritesActivity"
            android:label="@string/title_activity_my_favorites" >
        </activity>
        <activity android:name=".ViewDrinkActivity" >
        </activity>
        <activity android:name=".Share" >
        </activity>
        <activity
            android:name=".MyBarActivity"
            android:label="@string/title_activity_my_bar" >
        </activity>
        <uses-library android:name="android.test.runner" />
    </application>
    
    

</manifest>
